@model VacationRegister.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leaves)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Type of leave</th>
                    <th>Days</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Note</th>
                    <th>Created</th>
                </tr>
                @foreach (var item in Model.Leaves)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveType.TypeofLeave)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiffInDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveNotes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmpId" class="btn btn-success">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
