@model IEnumerable<VacationRegister.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Employees</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add Employee</a>
</p>
<table class="table table-bordered table-hover">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                  <a asp-action="Edit" asp-route-id="@item.EmpId" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit!"><i class="bi bi-pencil-square"></i></a>
                  <a asp-action="Details" asp-route-id="@item.EmpId" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Details"><i class="bi bi-info-square"></i></a> 
                  <a asp-action="Delete" asp-route-id="@item.EmpId" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="bi bi-trash"></i></a> 
            </td>
        </tr>
}
    </tbody>
</table>
